nav{behavior: url(js/PIE.htc); position:relative;}
a.read-more{behavior: url(js/PIE.htc); position:relative;}
.member-box{behavior: url(js/PIE.htc); position:relative;}
.job-image{behavior: url(js/PIE.htc); position:relative;}
.right-block{behavior: url(js/PIE.htc); position:relative;}
.left-block{behavior: url(js/PIE.htc); position:relative;}
.edit-profile-bottom{behavior: url(js/PIE.htc); position:relative;}
.job-bottom{behavior: url(js/PIE.htc); position:relative;}







