<!DOCTYPE HTML>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <title>  ::  Job Portal  ::  </title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="css/main.css" >
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="page">
        <!-- Start Header -->
        <header>
            <div class="wrap">
                <h1 class="logo"><a title="" href="/">Job Portal</a></h1>
                <nav class="nav">
                	<ul>
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Find a Job</a></li>
                    </ul>
                </nav>
                <div class="hdr_btn">
                	<a class="btn1" href="#">Candidate Login</a>
                    <a class="btn2" href="#">Recruiters Login</a>
                </div>
                <div class="clr"></div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Container -->
        <div class="container register_page recruiter_page">
        	<h1 class="title">Join over 40,000 employers who trust JOBPORTAL.com as their career partner</h1>
            <div class="floatleft highlight-box1">
            	<h3>Why Choose jobportal .com?</h3>
                <ul class="check_icons">
                	<li>Access to 12,250,000 qualified job seekers, anytime.</li>
                    <li>5 million visits/month, giving your jobs top visibility.</li>
                    <li>Friendly, on-the-ground support from our 12 regional offices.</li>
                    <li>We speak Arabic, English, French.</li>
                    <li>Solutions for all budgets, some even for free!</li>
                </ul>
            </div>
            <div class="floatright highlight-box1">
            	<h3>Contact Options</h3>
                <ul class="icon_list">
                	<li><img src="images/phone_icon.png" alt=""><br>+123.4.1234567</li>
                    <li><img src="images/mail_icon.png" alt=""><br><a href="#">Email us</a></li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="seperator">&nbsp;</div>
            <h2 class="title">Register Using Your Email (it will only take a minute!)<span class="floatright orng">* Required Fields</span>.</h2>
            <div class="form">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>FIRST NAME <span class="red">*</span><br><input type="text" value="" class="inputbox"></td>
                    <td>LAST NAME <span class="red">*</span><br><input type="text" value="" class="inputbox"></td>
                    <td>EMAIL <span class="red">*</span><br><input type="text" value="" class="inputbox"></td>
                  </tr>
                  <tr>
                    <td>COUNTRY <span class="red">*</span><br><select class="selectbox"><option>-Select-</option></select></td>
                    <td>City <span class="red">*</span><br><select class="selectbox"><option>-Select-</option></select></td>
                    <td>Your Nationality <span class="red">*</span><br><select class="selectbox"><option>-Select-</option></select></td>
                  </tr>
                  <tr>
                    <td>Your Birth Date <span class="red">*</span><br><input type="text" value="" placeholder="YY/MM/DD" class="inputbox"></td>
                    <td>GENDER <br><select class="selectbox"><option>-Select-</option></select></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="radios">What's your language preference? <span class="red">*</span><br>
                    	<label><input type="radio" value=""> English</label> 
                        <label><input type="radio" value=""> Arabic</label> 
                        <label><input type="radio" value=""> French</label>
                    </td>
                  </tr>
                  <tr>
                  	<td colspan="3">
                    	<h3 class="blue">Login Information</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>PASSWORD <span class="red">*</span><br><input type="text" value="" class="inputbox"></td>
                    <td>CONFIRM PASSWORD <br><input type="text" value="" class="inputbox"></td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                <p>By creating an account, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
            </div>
            <div class="block_footer">
                <div class="floatleft"><input type="button" class="back" value="BACK"></div>
                <div class="floatright"><input type="button" value="CREATE AN ACCOUNT" class="submit"></div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- End Container -->
            
        <!-- Start Footer -->
        <footer>
        	<div class="wrap">
                <div class="widgets">
                    <div class="block block1">
                    	<h3>Company</h3>
                    	<ul>
                        	<li><a href="#">About Company</a></li>
                            <li><a href="#">Company Blog</a></li>
                            <li><a href="#">Advertise With Us</a></li>
                        </ul>
                    </div>
                    <div class="block block2">
                    	<h3>Customer Services</h3>
                    	<ul>
                        	<li><a href="#">Contact Us</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <div class="block block3">
                    	<h3>Policies</h3>
                    	<ul>
                        	<li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                        </ul>
                    </div>
                    <div class="block block4">
                    	<a href="#"><img src="images/fb_icon.png" alt=""></a> 
                        <a href="#"><img src="images/twtr_icon.png" alt=""></a> 
                        <a href="#"><img src="images/pntrtst_icon.png" alt=""></a> 
                        <a href="#"><img src="images/instgram_icon.png" alt=""></a>
                    </div>
                    <div class="block block5">
                    	<h2>SUBSCRIBE TO NEWSLETTER</h2>
                        <div class="form">
                        	<input type="text" value="" placeholder="Enter your email" class="inputbox"> <input type="button" value="Submit" class="submit">
                        </div>
                        <p class="align-right">Copyright © 2013.  All Right’s Reserved.<br>Site Credite</p>
                    </div>                  
           	  </div>
                <div class="clr"></div>
            </div>
        </footer>
        <!-- End Footer -->
    </body>
</html>