<HTML>
<HEAD>
<TITLE>Rajasthan Build Home Square Limited</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<!-- ImageReady Slices (mydream_layout01.jpg) -->
<TABLE WIDTH=1001 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=283 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=288 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=206 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=2 HEIGHT=1></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=221 HEIGHT=1></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/mydream_layout01_01.jpg" WIDTH=283 HEIGHT=215></TD>
		<TD>
			<IMG SRC="images/mydream_layout01_02.jpg" WIDTH=288 HEIGHT=215></TD>
		<TD>
			<IMG SRC="images/mydream_layout01_03.jpg" WIDTH=206 HEIGHT=215></TD>
		<TD COLSPAN=3>
			<IMG SRC="images/mydream_layout01_04.jpg" WIDTH=224 HEIGHT=215></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/mydream_layout01_05.jpg" WIDTH=283 HEIGHT=182></TD>
		<TD>
			<IMG SRC="images/mydream_layout01_06.jpg" WIDTH=288 HEIGHT=182></TD>
		<TD COLSPAN=2>
			<IMG SRC="images/mydream_layout01_07.jpg" WIDTH=207 HEIGHT=182></TD>
		<TD COLSPAN=2>
			<IMG SRC="images/mydream_layout01_08.jpg" WIDTH=223 HEIGHT=182></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/mydream_layout01_09.jpg" WIDTH=283 HEIGHT=210></TD>
		<TD>
			<IMG SRC="images/mydream_layout01_10.jpg" WIDTH=288 HEIGHT=210></TD>
		<TD COLSPAN=3>
			<IMG SRC="images/mydream_layout01_11.jpg" WIDTH=209 HEIGHT=210></TD>
		<TD ROWSPAN=2>
			<IMG SRC="images/mydream_layout01_12.jpg" WIDTH=221 HEIGHT=458></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/mydream_layout01_13.jpg" WIDTH=283 HEIGHT=248></TD>
		<TD COLSPAN=4>
			<IMG SRC="images/mydream_layout01_14.jpg" WIDTH=497 HEIGHT=248></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</BODY>
</HTML>