<!DOCTYPE HTML>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <title>  ::  Job Portal  ::  </title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="css/main.css" >
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="page">
        <!-- Start Header -->
        <header>
            <div class="wrap">
                <h1 class="logo"><a title="" href="/">Job Portal</a></h1>
                <nav class="nav">
                	<ul>
                    	<li><a href="#">Home</a></li>
                        <li class="active"><a href="#">My Profile</a></li>
                        <li><a href="#">Find a Job</a></li>
                    </ul>
                </nav>
                <div class="hdr_btn">
                	<a class="dropdown" href="#">Hello Yourself!</a>
                    <a class="btn3" href="#">Sign out</a>
                </div>
                <div class="clr"></div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Container -->
        <div class="container notifications">
        	<div class="content_left">
            	<div class="profile_head">
                	<div class="img"><img src="images/profile_img1.png" alt=""></div>
                    <div class="info">
                    	<h1 class="title captl">Yousef Ali</h1>
                        <h3>Sr.Software Engineer at T3 Media</h3>
                        <p class="font12 exp_edu1">San Francisco, California <span>|</span> Information Technologies and Services</p>
                        <ul class="exp_edu font12">
                        	<li><span>Current</span> T3 Media</li>
                            <li><span>Current</span> T3 Media</li>
                            <li><span>Current</span> T3 Media</li>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="list">
                	<h1 class="title captl floatleft">Notifications</h1>
                    <div class="clr"></div>
                    <ul class="content_tabs">
                    	<li class="active"><a href="#">Inbox</a></li>
                        <li class=""><a href="#">Sent</a></li>
                    </ul>
                    <div class="clr"></div>
                    <div class="tabs_content font11">
                    	<ul class="ntfcn_list">
                        	<li class="unread open">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="open_msg">
                            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td class="msg_content">
                                    	<p><strong>Hello,</strong></p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                                        <p><strong>Thanks<br>Agics Technologies</strong></p>
                                    </td>
                                  </tr>
                                </table>
                                <div class="msg_action">
                                	<span>Click here to <a class="black" href="#">reply</a> or <a class="black" href="#">Delete</a></span>
                                	<textarea rows="10" cols="5"></textarea>
                                </div>
                            </li>
                            <li class="unread">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                            <li class="">
                            	<div class="title">SiliconIndia Weekend San Francisco, California</div>
                                <div class="content">Best Stories to Read This</div>
                                <div class="from">This message sent to San Francisco, California</div>
                                <div class="time">2:00 pm</div>
                            </li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
            <div class="content_right">
            	<div class="block stats">
                	<h2 class="title">Profile Stats</h2>
                    <ul>
                    	<li><span class="number number_green">8</span> Jobs Applied</li>
                        <li><span class="number">8</span> Jobs Saved</li>
                        <li><span class="number">12</span> Notifications</li>
                        <li><span class="number">45</span> Profile Views</li>
                    </ul>
                    <div class="clr"></div>
                </div>
                <div class="block recommended font12">
                	<h2 class="title">Recommended Jobs</h2>
                    <ul>
                    	<li>
                        	<div class="img"><img src="images/company_logo1.jpg" alt=""></div>
                            <div class="info">
                            	<h3>Program Manager</h3>
                                <p><strong>Posted by</strong> Media Group for Qatar</p>
                                <p><a class="blue1" href="#">View &amp; Apply</a> - 15 June 2013</p>
                            </div>
                        </li>
                        <li>
                        	<div class="img"><img src="images/company_logo1.jpg" alt=""></div>
                            <div class="info">
                            	<h3>Program Manager</h3>
                                <p><strong>Posted by</strong> Media Group for Qatar</p>
                                <p><a class="blue1" href="#">View &amp; Apply</a> - 15 June 2013</p>
                            </div>
                        </li>
                        <li>
                        	<div class="img"><img src="images/company_logo1.jpg" alt=""></div>
                            <div class="info">
                            	<h3>Program Manager</h3>
                                <p><strong>Posted by</strong> Media Group for Qatar</p>
                                <p><a class="blue1" href="#">View &amp; Apply</a> - 15 June 2013</p>
                            </div>
                        </li>
                        <li>
                        	<div class="img"><img src="images/company_logo1.jpg" alt=""></div>
                            <div class="info">
                            	<h3>Program Manager</h3>
                                <p><strong>Posted by</strong> Media Group for Qatar</p>
                                <p><a class="blue1" href="#">View &amp; Apply</a> - 15 June 2013</p>
                            </div>
                        </li>
                        <li>
                        	<div class="img"><img src="images/company_logo1.jpg" alt=""></div>
                            <div class="info">
                            	<h3>Program Manager</h3>
                                <p><strong>Posted by</strong> Media Group for Qatar</p>
                                <p><a class="blue1" href="#">View &amp; Apply</a> - 15 June 2013</p>
                            </div>
                        </li>
                        <li class="align-right"><a class="black" href="#">View All &rarr;</a></li>
                    </ul>
                </div>
                <div class="block ad align-center"><img src="images/google_ad1.jpg" alt=""></div>
                <div class="block ad align-center"><img src="images/google_ad2.jpg" alt=""></div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- End Container -->
            
        <!-- Start Footer -->
        <footer>
        	<div class="wrap">
                <div class="widgets">
                    <div class="block block1">
                    	<h3>Company</h3>
                    	<ul>
                        	<li><a href="#">About Company</a></li>
                            <li><a href="#">Company Blog</a></li>
                            <li><a href="#">Advertise With Us</a></li>
                        </ul>
                    </div>
                    <div class="block block2">
                    	<h3>Customer Services</h3>
                    	<ul>
                        	<li><a href="#">Contact Us</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <div class="block block3">
                    	<h3>Policies</h3>
                    	<ul>
                        	<li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                        </ul>
                    </div>
                    <div class="block block4">
                    	<a href="#"><img src="images/fb_icon.png" alt=""></a> 
                        <a href="#"><img src="images/twtr_icon.png" alt=""></a> 
                        <a href="#"><img src="images/pntrtst_icon.png" alt=""></a> 
                        <a href="#"><img src="images/instgram_icon.png" alt=""></a>
                    </div>
                    <div class="block block5">
                    	<h2>SUBSCRIBE TO NEWSLETTER</h2>
                        <div class="form">
                        	<input type="text" value="" placeholder="Enter your email" class="inputbox"> <input type="button" value="Submit" class="submit">
                        </div>
                        <p class="align-right">Copyright © 2013.  All Right’s Reserved.<br>Site Credite</p>
                    </div>                  
           	  </div>
                <div class="clr"></div>
            </div>
        </footer>
        <!-- End Footer -->
    </body>
</html>