<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>  ::  Job Portal  ::  </title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="css/main.css" >
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="page">
        <!-- Start Header -->
        <header>
            <div class="wrap">
                <h1 class="logo"><a title="" href="/">Job Portal</a></h1>
                <nav class="nav">
                	<ul>
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Find a Job</a></li>
                    </ul>
                </nav>
                <div class="hdr_btn">
                	<a class="btn1" href="#">Candidate Login</a>
                    <a class="btn2" href="#">Recruiters Login</a>
                </div>
                <div class="clr"></div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Container -->
        <div class="container login_page">
        	<h1 class="title">LOGIN  OR CREATE AN ACCOUNT</h1>
            <div class="block login_block">
            	<h2 class="title">Log In</h2>
                <div class="form">
                	<p>If you have an account with us, please log in.</p>
                	<p><label>Email Address *</label><br><input type="text" value="" class="inputbox"></p>
                    <p><label>Password *</label><br><input type="text" value="" class="inputbox"></p>
                    <p>Required Fields *</p>
                    <p class="social_login"><a href="#"><img src="images/login_facebook.png" alt=""></a> <a href="#"><img src="images/login_twitter.png" alt=""></a></p>
                </div>
                <div class="block_footer">
                	<div class="floatleft"><a class="orng" href="#">Forgot your Password?</a></div>
                    <div class="floatright"><input type="button" value="Login" class="submit"></div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="block register_block">
            	<h2 class="title">New user? Please register.</h2>
                <div class="form">
                	<p><label><input type="radio" value=""> I'm a new job seeker</label>If you are looking for a job, register here.</p>
	                <p><label><input type="radio" value=""> I'm a new employer</label>If you need to hire staff for your company, register here.</p>
                </div>
                <div class="block_footer">
                	<div class="floatleft">&nbsp;</div>
                    <div class="floatright"><input type="button" value="CREATE AN ACCOUNT" class="submit"></div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- End Container -->
            
        <!-- Start Footer -->
        <footer>
        	<div class="wrap">
                <div class="widgets">
                    <div class="block block1">
                    	<h3>Company</h3>
                    	<ul>
                        	<li><a href="#">About Company</a></li>
                            <li><a href="#">Company Blog</a></li>
                            <li><a href="#">Advertise With Us</a></li>
                        </ul>
                    </div>
                    <div class="block block2">
                    	<h3>Customer Services</h3>
                    	<ul>
                        	<li><a href="#">Contact Us</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <div class="block block3">
                    	<h3>Policies</h3>
                    	<ul>
                        	<li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                        </ul>
                    </div>
                    <div class="block block4">
                    	<a href="#"><img src="images/fb_icon.png" alt=""></a> 
                        <a href="#"><img src="images/twtr_icon.png" alt=""></a> 
                        <a href="#"><img src="images/pntrtst_icon.png" alt=""></a> 
                        <a href="#"><img src="images/instgram_icon.png" alt=""></a>
                    </div>
                    <div class="block block5">
                    	<h2>SUBSCRIBE TO NEWSLETTER</h2>
                        <div class="form">
                        	<input type="text" value="" placeholder="Enter your email" class="inputbox"> <input type="button" value="Submit" class="submit">
                        </div>
                        <p class="align-right">Copyright © 2013.  All Right’s Reserved.<br>Site Credite</p>
                    </div>                  
           	  </div>
                <div class="clr"></div>
            </div>
        </footer>
        <!-- End Footer -->
    </body>
</html>