/* CSS Document */
.reg-bg{
background:url(../images/reg-letter.jpg);
width:918px;
background-repeat:no-repeat;
}

.regno{
font-family:Arial, Helvetica, sans-serif;
color:#990000;
font-size:23px;
padding:3px;
}
.mani-txt{
padding:0 48px 0 48px;
}

.mani-txt ul{
margin:0;
padding:0px;
}

.mani-txt li{
margin-left:22;
font-family:Arial, Helvetica, sans-serif;
color:#2B0000;
font-size:12px;
font-weight:bold;

list-style:none;
padding:8px;
}
